<template>
  <base-card>
    <h2>Add Resource</h2>
    <form action="" @submit.prevent="addRes">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          ref="enteredTitle"
        />
      </div>

      <div class="form-group">
        <label for="desc">Description</label>
        <textarea
          name="desc"
          class="form-control"
          rows="3"
          ref="enteredDesc"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="link">Link</label>
        <input type="url" name="link" class="form-control" ref="enteredLink" />
      </div>
      <base-button type="submit">Add</base-button>
    </form>
  </base-card>
</template>

<script>
export default {
  methods: {
    // addRes() {
    //   // push an object to res array
    //   this.resources.push({
    //     title: this.enteredTitle,
    //     desc: this.enteredDesc,
    //     link: this.enteredLink
    //   });
    //   console.log(this.resources);

    //   this.enteredTitle = '';
    //   this.enteredDesc = '';
    //   this.enteredLink = '';
    // }
    addRes() {
      const enteredTitle = this.$refs.enteredTitle.value;
      const enteredDesc = this.$refs.enteredDesc.value;
      const enteredLink = this.$refs.enteredLink.value;
      this.addResource(enteredTitle, enteredDesc, enteredLink);
    }
  },
  inject: ['resources', 'addResource']
};
</script>

<style scoped>
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.15rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3a0061;
  background-color: #f7ebff;
}

.form-control {
  margin: 1rem 0;
}
</style>
