<template>
  <li>
    <base-card>
      <div>
        <header>
          <h2>{{ title }}</h2>
          <base-button mode="flat" @click="deleteResource(id)"
            >delete</base-button
          >
        </header>
      </div>
      <nav>
        <p>{{ desc }}</p>
        <a :href="link">View Resource</a>
      </nav>
    </base-card>
  </li>
</template>

<script>
export default {
  components: {},
  data() {
    return {};
  },
  props: ['id', 'title', 'desc', 'link'],
  inject: ['deleteResource']
};
</script>

<style scoped>
li {
  margin: auto;
  max-width: 40rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

p {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #ce5c00;
}

a:hover,
a:active {
  color: #c89300;
}
</style>
