<template>
  <base-card>
    <base-button
      @click="getSelectedTab('stored-resources')"
      :mode="selectedTab === 'stored-resources' ? null : 'flat'"
      >Learing Resources</base-button
    >
    <base-button
      @click="getSelectedTab('add-resource')"
      :mode="selectedTab === 'add-resource' ? null : 'flat'"
      >Add Resource</base-button
    >
  </base-card>
  <keep-alive>
    <component :is="selectedTab"></component>
  </keep-alive>
</template>

<script>
import StoredResources from './StoredResources.vue';
import AddResource from './AddResource.vue';
export default {
  components: {
    StoredResources,
    AddResource
  },
  data() {
    return {
      selectedTab: 'stored-resources',
      resources: [
        {
          id: 1,
          title: 'The Offcial Guide',
          desc:
            'Vue provides an official CLI for quickly scaffolding ambitious Single Page Applications. It provides batteries-included build setups for a modern frontend workflow.',
          link: 'https://vuejs.org/v2/guide/'
        },
        {
          id: 2,
          title: 'Google',
          desc: 'google provides all what you need to learn and know',
          link: 'https://www.google.com.eg'
        }
      ]
    };
  },
  methods: {
    getSelectedTab(tab) {
      this.selectedTab = tab;
    },
    onAddRes(title, desc, link) {
      // create new resource object
      const newResource = {
        id: new Date().toISOString(),
        title: title,
        desc: desc,
        link: link
      };
      this.resources.unshift(newResource);
      this.selectedTab = 'stored-resources';
    },
    onDeleteRes(resIndx) {
      const selectedIndex = this.resources.findIndex(res => res.id == resIndx);
      this.resources.splice(selectedIndex, 1);
      console.log(selectedIndex);
    }
  },
  provide() {
    return {
      resources: this.resources,
      addResource: this.onAddRes,
      deleteResource: this.onDeleteRes
    };
  }
};
</script>
